header {
  border-bottom: 1px solid var(--border-color);
  //margin: 12px 0;
  margin-bottom: 1.7rem;
  padding: 20px 0 12px 0;
}

.logo {
  cursor: pointer;
}

.logo:focus-visible {
  outline: none;
}

.logo:focus {
  outline: none;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav-list {
  align-items: center;
  display: flex;
  //justify-content: space-around;

  & > li {
    //margin: 0 15px;
    //margin: auto;
    color: var(--second-color);
    flex-grow: 1;
  }
}

.nav-list-lt-md {
  flex-direction: column;

  & > li {
    margin: 5px 0;
  }
}

.nav-list-gt-md {
  flex: 0 0 75%;
  margin: auto;

  & > .logo-li {
    flex: 1 0 70%;
  }
}

.subtitle-lt-md {
  display: block;
}

.logo-li {
}

.title {
  font-size: 2rem;
  color: var(--logo-color);
}

.subtitle {
  font-size: 0.96em;
  margin-left: 5px;
}
