<header class="header">
  <nav>
    <ul
      class="nav-list"
      ngClass.gt-xs="nav-list-gt-md"
      ngClass.lt-sm="nav-list-lt-md"
    >
      <li class="logo-li">
        <section routerLink="/" class="logo" appSetTitle>
          <span class="title">{{ title }}</span>
          <span class="subtitle" ngStyle.lt-sm="display:none">
            {{ subtitle }}
          </span>
        </section>
      </li>
      <li *ngFor="let navItem of navItems$ | async">
        <a
          mat-button
          [routerLink]="navItem.relativeUrl"
          [appSetTitle]="navItem.linkName"
        >
          {{ navItem.linkName }}
        </a>
      </li>
      <li>
        <app-dark-mode></app-dark-mode>
      </li>
    </ul>
  </nav>
</header>
