<footer>
  <p>
    powered by <a href="https://angular.cn"> angular </a>| driven by
    <a href="https://vercel.com/"> vercel </a>| hosted by
    <a href="https://bitbucket.org/hanhan9449/blog-with-angular/">bitbucket </a>
  </p>
  <p>署名 4.0 国际 (CC BY 4.0) | copyright © 2021 - {{ nowYear }} Han Han</p>
</footer>
