<section class="information">
  <h1 class="title">自我介绍</h1>
  <p>
    我叫<span class="my-name">{{ me.name }}</span>
    <span *ngIf="me?.graduateSchool">，来自{{ me.graduateSchool }} </span>
  </p>
  <p *ngIf="me.work">
    是一名<span class="my-work">{{ me.work }}</span>
  </p>
  <p *ngIf="me.description">{{ me.description }}</p>
</section>
