.information {
  text-align: center;
  margin-top: 5rem;
  & > p {
    line-height: 2;
  }
}
.title {
  //font-size: 10rem;
  //font-size: xxx-large;
  font-size: 2rem;
  margin: 1.4rem 0;
}
.my-work {
  //font-size: 1.3em;
}
