.markdown {
  & > blockquote {
    background-color: #f8f8f8;
    border-left: 4px solid #aeaeae;
    padding: 1px 23px;
    margin: 22px 0;
    overflow: auto;

    & > p {
      margin: 10px 0;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #282828;
      border-left-color: #8a8a8a;
    }
  }

  & > p {
    line-height: 2;
  }
}
