<!--TODO:为文章切换添加动画-->
<div class="container" ngClass.lt-sm="container-lt-sm">
  <app-interview-nav-list
    class="nav-list"
    ngStyle.lt-sm="order:1"
  ></app-interview-nav-list>
  <section class="main">
    <div class="inner-box">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
