.container {
  display: flex;
}
.container-lt-sm {
  flex-direction: column;
}

.main {
  //padding: 40px 20px;
  flex: 1;
  //margin: auto;
  //& > * {
  //  max-width: 70%;
  //  margin: 0 auto;
  //}
}
.inner-box {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}
.nav-list {
  flex: 0 1 220px;
  border-right: var(--border-color) 1px solid;
}
