.to-top-button {
  width: 2.9rem;
  height: 2.9rem;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
  @media (prefers-color-scheme: dark) {
    background-color: #413b3b;
  }
  cursor: pointer;
  position: fixed;
  bottom: 5rem;
  right: 3rem;

  & > img {
    transform: scale(0.5);
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    filter: brightness(1.3);
  }

  transition: all 0.19s ease-in-out;
}
