<button mat-button>
  <mat-icon
    *ngIf="(currentMode$ | async) == 'light'"
    (click)="setDarkMode()"
    [style.color]="'#a9880d'"
    >light_mode
  </mat-icon>
  <mat-icon
    *ngIf="(currentMode$ | async) == 'dark'"
    (click)="setLightMode()"
    [style.color]="'#5564b1'"
    >dark_mode
  </mat-icon>
</button>
