<nav class="nav">
  <mat-list role="list">
    <ng-container *ngFor="let i of list | async">
      <div mat-subheader class="subheader">{{ i.typeName }}</div>
      <mat-list-item role="listitem" class="item" *ngFor="let item of i.items">
        <a
          class="nav-link"
          [routerLink]="item.fileName"
          [appSetTitle]="item.name"
          appToTop
        >
          {{ item.name }}
        </a>
      </mat-list-item>
    </ng-container>
  </mat-list>
</nav>
