<app-header></app-header>
<main class="main" [@routeAnimation]="getRouteAnimation(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<app-to-top-button></app-to-top-button>
<app-footer></app-footer>
