@use "@angular/material" as mat;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-color);
  background-color: var(--bg-color);
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

code:not([class*="language-"]) {
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  font-size: 0.94em;
  padding: 0 6px 2px;
}

[data-dark-mode="1"] {
  --nav-link-color: #a2a2a2;
  --border-color: #313131;
  --nav-title-color: #71ab71;
  --second-color: #a2a2a2;
  --logo-color: #058623;
  --primary-color: #c0c3c0;
  --link-color: #72964c;
  --bg-color: #1c1606;
  & img,
  & pre {
    filter: invert(1) hue-rotate(180deg);
  }
  & a[disabled] {
    color: #8a8a8a;
  }
  code:not([class*="language-"]) {
    background-color: rgba(255, 255, 255, 0.23);
  }
}

[data-dark-mode="0"] {
  --second-color: #726f6f;
  --logo-color: #038063;
  --primary-color: #2d2f2d;
  --link-color: #848484;
  --bg-color: whitesmoke;
  --border-color: #eaecef;
  --nav-title-color: #2d2f2d;
  --nav-link-color: #8a8a8a;
}

@media (prefers-color-scheme: light) {
  :root body:not([data-dark-mode]) {
    --nav-link-color: #a2a2a2;
    --border-color: #313131;
    --nav-title-color: #71ab71;
    --second-color: #a2a2a2;
    --logo-color: #058623;
    --primary-color: #c0c3c0;
    --link-color: #72964c;
    --bg-color: #1c1606;
    & img,
    & pre {
      filter: invert(1) hue-rotate(180deg);
    }
    & a[disabled] {
      color: #8a8a8a;
    }
    code:not([class*="language-"]) {
      background-color: rgba(255, 255, 255, 0.23);
    }
  }
}
