<section class="reason">
  <img
    class="idea-image"
    width="300px"
    height="300px"
    src="../../assets/image/idea.svg"
    alt="idea-icon"
  />
  <h1 class="reason-title">初衷</h1>
  <p class="reason-text">
    打开百度，网上排名靠前的网址却不能给我们最好的答案。因为我想通过这个项目把前端知识点集合起来，让大家不再为获取知识烦恼。
  </p>
</section>
