.reason {
  text-align: center;
  margin-top: 1.3rem;
}

.reason-title {
  font-size: 3rem;
  margin: 3rem 0;
}

.reason-text {
  color: var(--primary-color);
  max-width: 30em;
  margin: auto;
  line-height: 1.8;
}

.idea-image {
  max-width: 80vmin;
  margin: 3rem 0 2rem;
  //display: block;
  @media (prefers-color-scheme: dark) {
    filter: brightness(0.75);
  }
}
